.hero-info h2 {
	margin-bottom: 30px;
}


.hero-info ul {
	list-style: none;
}

.hero-info ul li {
	font-size: 24px;
	color: #fff;
	margin-bottom: 15px;
}

.hero-info ul li span {
	color: #fff;
	display: inline-block;
	min-width: 220px;
}

.hero-info ul li:last-child {
	margin-bottom: 0;
}